.header{
	background:#aa564a;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhNTY0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMzc2NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #aa564a 0%, #d37667 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa564a), color-stop(100%,#d37667));
	background:-webkit-linear-gradient(top, #aa564a 0%,#d37667 100%);
	background:-o-linear-gradient(top, #aa564a 0%,#d37667 100%);
	background:-ms-linear-gradient(top, #aa564a 0%,#d37667 100%);
	background:linear-gradient(to bottom, #aa564a 0%,#d37667 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa564a', endColorstr='#d37667',GradientType=0 );
	box-shadow:inset 0 -5px 9px -5px rgba(56,94,104,.57)
}
.header-topnav ul li a{color:#fff}
.header-brandzone{box-shadow:0 10px 13px 2px rgba(107,33,18,.37)}

.header-brandzone-nav,
.header-brandzone-line{
	width:978px;
	border-top:1px solid #914133;
	border-bottom:1px solid #914133;
	background:#a9331c;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjIxMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #a9331c 0%, #6b2112 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9331c), color-stop(100%,#6b2112));
	background:-webkit-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:-o-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:-ms-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:linear-gradient(to bottom, #a9331c 0%,#6b2112 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9331c', endColorstr='#6b2112',GradientType=0 );
	box-shadow:0 7px 13px 2px rgba(107,33,18,.37), inset 0 1px 0 0 #ff6638
}

#fullmenu{
	background:#6b2112;
	box-shadow:0 10px 13px 2px rgba(107,33,18,.47), inset 0 1px 0 0 #ff6638
}

#fullmenu>ul,
.content-inner>ul{margin-top:1px}

.root-item>a,
#fullmenu ul li a{
	color:#fff;
	text-shadow:0 1px 1px rgba(0,0,0,.5);
}
#fullmenu>ul>li:hover>a,
.root-item.selected,
.root-item:hover{
	box-shadow:inset 0 0 31px 3px #6b2112;
	background:#a9331c
}

.content-inner>ul{box-shadow:0 5px 8px 2px rgba(56,94,104,.57),inset 0 13px 9px -12px rgba(56,94,104,.57)}
#fullmenu>ul>li>ul{box-shadow:inset -11px 0 5px -11px rgba(0,0,0,0.5), 0 3px 10px 0 rgba(56,94,104,.57)}

.content-inner ul>li:hover>a,
#fullmenu>ul>li>ul>li:hover>a,
.sidebar .nav>li>ul>li:hover>span a{
	background:#f5cfc9;
	color:#000;
	text-decoration:none
}

.sidebar .nav>li>ul,
#fullmenu>ul>li>ul li ul,
.sidebar .nav>li>ul li ul{
	display:none;
	box-shadow:inset 0 11px 5px -11px rgba(0,0,0,0.5),inset 0 -12px 5px -11px rgba(0,0,0,0.2);
	border-radius:0;
	overflow:hidden
}

.sidebar .nav>li>ul>li:last-child>span a {box-shadow:inset 0 -11px 5px -11px rgba(0,0,0,0.5)}
.sidebar .nav>li>ul>li:first-child>span a,
#fullmenu>ul>li>ul li ul>li:first-child a {box-shadow:inset 0 11px 5px -11px rgba(0,0,0,0.5)}
.content-inner>ul>li:first-child>a{box-shadow:inset 0 13px 9px -12px rgba(0,0,0,.57)}

.allcatnav a{
	color:#1B2D3D;
	text-shadow:0 1px 1px rgba(255,255,255,0.9);
	padding:9px 21px;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.4);
	margin-top:-1px;
	border:1px solid #d3d3d3;
	background:#fff;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2RiZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ccdbe8));
	background:-webkit-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:-o-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:-ms-linear-gradient(top,#fff 0%,#ccdbe8 100%);
	background:linear-gradient(to bottom,#fff 0%,#ccdbe8 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#ccdbe8',GradientType=0)
}
.allcatnav a:hover{background:#fff}
.allcatnav a.active,
.allcatnav a:active{
	border:1px solid #dcdfe2;
	background:#eff3f7;
	box-shadow:inset 0 0 15px 1px rgba(0,0,0,0.3);
	padding:9px 21px
}

.sidebar .nav>li>span a{
	padding:15px 20px;
	border-bottom:1px solid #f5cfc9; /*e0ecf3 Поменять цвет */
	display:block
}
.sidebar .nav>li:hover>span a,
.sidebar .nav>li.current>span a{background:#f5cfc9}
.sidebar .nav>li.selected>span a,
.sidebar .nav>li.current.selected>span a{
	border:1px solid #914133;
	box-shadow:inset 0 1px 2px 0 #ff6638;
	border-radius:2px 2px 0 0;
	padding:14px 20px 15px;

	background:#a9331c;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjIxMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #a9331c 0%, #6b2112 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9331c), color-stop(100%,#6b2112));
	background:-webkit-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:-o-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:-ms-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:linear-gradient(to bottom, #a9331c 0%,#6b2112 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9331c', endColorstr='#6b2112',GradientType=0 );
	color:#fff;
	text-shadow:0 1px 1px rgba(0,67,119,0.5)
}

.bt2{
	color:#3f3f3f;
	font-size:13px;
	text-align:center;
	padding:7px 16px;
	text-decoration:none;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.4);
	border-radius:3px;
	font-weight:bold;
	text-shadow:0 1px 1px #fff;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eee));
	background:-webkit-linear-gradient(top,#fff 0%,#eee 100%);
	background:-o-linear-gradient(top,#fff 0%,#eee 100%);
	background:-ms-linear-gradient(top,#fff 0%,#eee 100%);
	background:linear-gradient(to bottom,#fff 0%,#eee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eee',GradientType=0)
}
.bt2:hover{
	color:#3f3f3f;
	background:#fbfbfb;
	text-decoration:none !important
}
.bt2:active{
	color:#3f3f3f;
	text-shadow:none;
	text-shadow:0 2px 1px white;
	background:#fbfbfb;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmYmZiZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWFlYWVhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#fbfbfb),color-stop(100%,#eaeaea));
	background:-webkit-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:-o-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:-ms-radial-gradient(center,ellipse cover,#fbfbfb 0%,#eaeaea 100%);
	background:radial-gradient(ellipse at center,#fbfbfb 0%,#eaeaea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb',endColorstr='#eaeaea',GradientType=1);
	box-shadow:none;
	padding:6px 15px;
	border:1px solid #d2d2d2
}
input.bt2{border:none}
input.bt2:active{border:1px solid #914133}

.bt1{
	white-space:nowrap;
	border-radius:3px;
	border:none;
	width:60px;
	cursor:pointer;
	color:#914133;
	font-size:14px;
	text-shadow:0 1px 1px #fff;
	padding:6px 13px 8px !important;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	box-shadow:0 0 1px rgba(0,0,0,.11),0 1px 1px rgba(0,0,0,.4),inset 0 1px #fff,inset 0 0 1px rgba(255,255,255,.5);
	background:#f5cfc9;
	background:-moz-linear-gradient(top,#fff 0%,#f5cfc9 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f5cfc9));
	background:-webkit-linear-gradient(top,#fff 0%,#f5cfc9 100%);
	background:-o-linear-gradient(top,#fff 0%,#f5cfc9 100%);
	background:-ms-linear-gradient(top,#fff 0%,#f5cfc9 100%);
	background:linear-gradient(to bottom,#fff 0%,#f5cfc9 100%);
}
.bt1 span{
	background:url("images/gui.png") no-repeat -38px -669px;
	display:inline-block;
	margin-right:5px;
	margin-bottom:-5px;
	width:20px;
	color:#914133;
	height:18px
}
.bt1:hover{
	color:#914133;
	background:#fee8e5;
	background:-moz-linear-gradient(top,#fff 0%,#fee8e5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#fee8e5));
	background:-webkit-linear-gradient(top,#fff 0%,#fee8e5 100%);
	background:-o-linear-gradient(top,#fff 0%,#fee8e5 100%);
	background:-ms-linear-gradient(top,#fff 0%,#fee8e5 100%);
	background:linear-gradient(to bottom,#fff 0%,#fee8e5 100%);
}
.bt1:active{
	border:none;
	box-shadow: inset 0 1px 1px rgba(28,50,7,.37) !important;
	padding:5px 12px 7px;
	color:#914133;
	background:#f5cfc9;
	background:-moz-radial-gradient(center,ellipse cover,#fee8e5 0%,#f5cfc9 100%);
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#fee8e5),color-stop(100%,#f5cfc9));
	background:-webkit-radial-gradient(center,ellipse cover,#fee8e5 0%,#f5cfc9 100%);
	background:-o-radial-gradient(center,ellipse cover,#fee8e5 0%,#f5cfc9 100%);
	background:-ms-radial-gradient(center,ellipse cover,#fee8e5 0%,#f5cfc9 100%);
	background:radial-gradient(ellipse at center,#fee8e5 0%,#f5cfc9 100%);
}
.bt1.lupe{
	border-radius:3px;
	padding:5px 22px 8px 27px!important;
	min-width:118px;
	color:#914133;
	width:auto;
	margin-bottom:11px;
	margin-top:21px;
	text-align:left;
	
	box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background: #fff url("images/gui.png") no-repeat -37px -720px;
	background:url("images/gui.png") no-repeat -37px -720px, -moz-linear-gradient(top, #ffffff 0%, #f5cfc9 99%);
	background:url("images/gui.png") no-repeat -37px -720px, -webkit-linear-gradient(top, #ffffff 0%,#f5cfc9 99%);
	background:url("images/gui.png") no-repeat -37px -720px, -o-linear-gradient(top, #ffffff 0%,#f5cfc9 99%);
	background:url("images/gui.png") no-repeat -37px -720px, linear-gradient(to bottom, #ffffff 0%,#f5cfc9 99%);
}
.bt1.lupe:hover{
	color:#914133;
	padding:5px 22px 8px 27px!important;
	
	background: #fee8e5 url("images/gui.png") no-repeat -37px -720px; 
	box-shadow:url("images/gui.png") no-repeat -37px -720px, 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background:url("images/gui.png") no-repeat -37px -720px, -webkit-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, -moz-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, -o-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, -ms-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -37px -720px, linear-gradient(to top, #fee8e5, #fff);
}
.bt1.lupe:active{
	color:#914133;
	padding:7px 22px 7px 27px!important;
	background: #fee8e5 url("images/gui.png") no-repeat -37px -719px;
	border:none;
	box-shadow: inset 0 1px 1px rgba(28,50,7,.37) !important;
	background:url("images/gui.png") no-repeat -37px -719px, -webkit-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -37px -719px, -moz-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -37px -719px, -o-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -37px -719px, -ms-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -37px -719px, linear-gradient(to bottom, #fee8e5, #f5cfc9);
}
.filtren .bt2{
	color:#914133;
	cursor:pointer;
	border-radius:3px;
	font-weight:bold;
	font-size: 14px;
	padding:5px 22px 8px 27px!important;
	min-width:105px;
	width:auto;
	margin-bottom:1px;
	margin-top:5px;
	text-align:left;
	
	box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #f5cfc9, inset 0 0 1px rgba(255,255,255,.5);
	background: #f5cfc9 url("images/gui.png") no-repeat -46px -759px;
	background:url("images/gui.png") no-repeat -46px -759px, -webkit-linear-gradient(top, #ffffff, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -759px, -moz-linear-gradient(top, #ffffff, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -759px, -o-linear-gradient(top, #ffffff, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -759px, -ms-linear-gradient(top, #ffffff, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -759px, linear-gradient(to bottom, #ffffff, #f5cfc9);
}
.filtren .bt2:hover{
	margin-bottom:0px;	
	color:#914133;
	padding:5px 22px 8px 27px!important;
	
	background: #fee8e5 url("images/gui.png") no-repeat -46px -759px; 
	box-shadow:url("images/gui.png") no-repeat -46px -759px, 0 0 1px rgba(0,0,0,.11), 0 1px 1px rgba(0,0,0,.4), inset 0 1px #fff, inset 0 0 1px rgba(255,255,255,.5);
	background:url("images/gui.png") no-repeat -46px -759px, -webkit-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -moz-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -o-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, -ms-linear-gradient(bottom, #fee8e5, #fff);
	background:url("images/gui.png") no-repeat -46px -759px, linear-gradient(to top, #fee8e5, #fff);
	margin-bottom:1px;
}
.filtren .bt2:active{
	color:#914133;
	margin-bottom:0px;
	padding:7px 22px 7px 27px!important;
	border:none;
	background: #fee8e5 url("images/gui.png") no-repeat -46px -758px;
	box-shadow: inset 0 1px 1px rgba(28,50,7,.37) !important;
	background:url("images/gui.png") no-repeat -46px -758px, -webkit-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -758px, -moz-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -758px, -o-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -758px, -ms-linear-gradient(top, #fee8e5, #f5cfc9);
	background:url("images/gui.png") no-repeat -46px -758px, linear-gradient(to bottom, #fee8e5, #f5cfc9);
	margin-bottom:1px;
}

.info p{	color:#fff}
.info h2 a,
.info h4 a{
	color:#000;	
	text-shadow:0 1px 1px rgba(255,255,255,0.5);
}
.info .more{color:#883123;text-shadow:0 1px 1px rgba(255,255,255,0.5)}
.buy td{background:rgba(255,255,255,.53)}
.buy td:last-child{
	background:transparent url("images/arrow_buy.png") no-repeat left center;
	background-size:100% 100%;
}
.buy td .old_price{color:#883123}
.content_search_box.hnav table tr td:first-child h1{
	color:#883123;
	text-shadow:0 1px 1px rgba(255,255,255,.7)
}
.social-login .button,
#login input[type="submit"],
.bt3, .bx-auth-service-form div input[type=submit]{
	background:#a9331c;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjIxMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #a9331c 0%, #6b2112 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9331c), color-stop(100%,#6b2112));
	background:-webkit-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:-o-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:-ms-linear-gradient(top, #a9331c 0%,#6b2112 100%);
	background:linear-gradient(to bottom, #a9331c 0%,#6b2112 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9331c', endColorstr='#6b2112',GradientType=0 );
	margin:3px;
	text-align:center;
	text-decoration:none;
	text-shadow:-1px 1px 1px rgba(0,0,0,.12);
	font-size:14px;
	font-weight:bold;
	color:#fff;
	box-shadow:inset 0 1px 1px 0 #ff6638;
	border-radius:5px;
	border:1px solid #914133;
	padding:10px 15px;
	white-space:nowrap;
}
.bt3 span{
	background:url(images/gui.png) no-repeat 0 -751px;
	height:23px;
	width:26px;
	display:inline-block;
	margin-bottom:-7px;
	margin-right:5px;
}
.social-login .button:hover,
#login input[type="submit"]:hover,
.bt3:hover{
	background:#a9331c;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MzMxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NzI3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #a9331c 0%, #872727 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9331c), color-stop(100%,#872727));
	background:-webkit-linear-gradient(top, #a9331c 0%,#872727 100%);
	background:-o-linear-gradient(top, #a9331c 0%,#872727 100%);
	background:-ms-linear-gradient(top, #a9331c 0%,#872727 100%);
	background:linear-gradient(to bottom, #a9331c 0%,#872727 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9331c', endColorstr='#872727',GradientType=0 );	
	box-shadow:inset 0 1px 1px 0 #ff6638;
	color:#fff;
}
.social-login .button:active,
#login input[type="submit"]:active,
.bt3:active{
	background:#a9331c;
	box-shadow:inset 0 0 13px 2px #6b2112;
}
.bt3.incart,
.bt3.incart:hover,
.bt3.incart:active{
	color:#9b9b9b;
	border:none;
	text-shadow:0 2px 1px #fff;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0%,#eee 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#eee));
	background:-webkit-linear-gradient(top,#fff 0%,#eee 100%);
	background:-o-linear-gradient(top,#fff 0%,#eee 100%);
	background:-ms-linear-gradient(top,#fff 0%,#eee 100%);
	background:linear-gradient(to bottom,#fff 0%,#eee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#eee',GradientType=0);
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.4);
	border-radius:3px
}

.blog_box{
	background:#f5cfc9;
	box-shadow:inset 0 3px 8px -3px #6a6960, inset 0 -18px 5px -17px #6a6960;
}
.blog_box table tr td {color:#656148}
.footer{
	background: #cb7263;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiNzI2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZDM4MmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #cb7263 0%, #7d382f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb7263), color-stop(100%,#7d382f));
	background: -webkit-linear-gradient(top, #cb7263 0%,#7d382f 100%);
	background: -o-linear-gradient(top, #cb7263 0%,#7d382f 100%);
	background: -ms-linear-gradient(top, #cb7263 0%,#7d382f 100%);
	background: linear-gradient(to bottom, #cb7263 0%,#7d382f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb7263', endColorstr='#7d382f',GradientType=0 );
}
.footer table tr td h4{
	color:#421912;
	/* text-shadow:0 1px 0 rgba(255,255,255,.5); */
	font-size:18px;
	padding-bottom:16px;
	background:url("images/footer_h4_bg.png") repeat-x bottom
}
.footer table tr td.copyright,
.footer table tr td.contact,
.footer table tr td li a{
	color:#fff;
	text-shadow:none;
}
.filtren,
.sidebar .vieweditems{border: 8px solid #fdf1ef}
.filtren{background:#f3dcd9}
.ui-slider-horizontal{
	background:#fdf1ef;
	border:1px solid #dbaaa4
}
input.max-price,
input.min-price{
	border-top:1px solid #c17f75;
	border-right:1px solid #cc9d96;
	border-bottom:1px solid #d8c2bf;
	border-left:1px solid #cc9d96
}
.ui-widget-header{background:url("images/gui.png") 0 -242px repeat-x}
.sidebar .vieweditems .price{background:#fdf1ef}
.filtren.compare .catf ul li.active,
.filtren.compare .catf ul li:hover{
	display:block;
	background:#fee8e5; 
}
